/* Reset some default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.ticket-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 10px;
  width: 20vw;
}

.form-group {
  margin-bottom: 20px;
}

.form-label {
  display: block;
  margin-bottom: 5px;
  text-align: left;
}

.form-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  transition: border-color 0.3s;
}

.form-input:focus {
  border-color: #007bff;
}

.submit-button {
  background-color: #007bff;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.submit-button:hover {
  background-color: #0056b3;
}

.delete_button{
  background-color: #dc3545;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 5px 20px; /* Reduced the vertical padding from 10px to 5px */
  cursor: pointer;
  transition: background-color 0.3s;
}

.delete_icon {
  width: 37px; /* Adjust as needed */
  height: 25px; /* Adjust as needed */
  cursor: pointer;
  padding-left: 10px;
}
