<form class="ticket-form" #ticketForm="ngForm" (submit)="submitResponse()">
  <div class="form-group">
    <label for="ticket-title" class="form-label">Department:</label>
    <input id="ticket-title" name="department" class="form-input" [(ngModel)]="ticket.department" readonly>
  </div>

  <div class="form-group">
    <label for="message" class="form-label">Message:</label>
    <textarea id="message" name="message" class="form-input" rows="4" required [(ngModel)]="ticket.message" readonly></textarea>
  </div>

  <div class="form-group">
    <label>Current Files:</label>
    <div *ngFor="let file of ticket.files">
      <span>{{ file.fileName }}</span>
    </div>
  </div>

  <div class="form-group">
    <label for="response" class="form-label">Response:</label>
    <textarea id="response" name="response" class="form-input" rows="4" required [(ngModel)]="ticket.response"></textarea>
  </div>



  <button type="submit" class="submit-button">Submit Response</button>
</form>
